@model API_TranslateApp.Models.TranslateModel
@{
    ViewData["Title"] = "Translate Using Google Translate API";
    ApiController controller = new ApiController();
    CountryCodes countryCodes = new CountryCodes();
    List<string> response = await controller.GetAllLanguages();

    SelectList list = new SelectList(response);
    foreach (SelectListItem item in list)
    {
        string fullName = countryCodes.GetFullCountryName(item.Text);
        item.Text += " - " + fullName;
    }
}
<h1>@ViewData["Title"]</h1>
@using (Html.BeginForm("GetTranslation", "Translate", FormMethod.Post))
{
    <div class="translate-container">
        <div class="translate text-center">
            <p>Translate from:</p>
            @Html.DropDownListFor(m => m.source, list, new { @class = "dowList" })
            @using (Html.BeginForm("GetTranslation", "Translate", FormMethod.Post))
            {
                @Html.TextAreaFor(model => model.text, new { Class = "textbox" })
                <button type="submit" class="btn-translate">Translate!</button>
            }
        </div>
        <div class="translate">
            <p>Translate to:</p>
            @Html.DropDownListFor(m => m.result, list, new { @class = "dowList" })
            @using (Html.BeginForm("GetTranslation", "Translate", FormMethod.Post))
            {
                @Html.TextAreaFor(model => model.response, new { Class = "textbox" })
            }
        </div>
    </div>
}